@import "../assets/stylesheets/main.css";
@import "_colours";

.proposition-decoration {
  margin: 2rem 0;
  overflow: hidden;
  img {
    margin-right: 1rem;
    float: left;
    &:nth-of-type(1) {
      margin-top: 1rem;
    }
    &:nth-of-type(2) {
      margin-top: 2rem;
    }
    &:nth-of-type(4) {
      margin-top: 2rem;
      margin-right: 0;
    }
  }
}

input {
  &.show-hide {
    display: none;
    ~ div.more-info {
      display: none;
    }
    ~ label {
      display: inline-block;
      cursor: pointer;
      font-size: 1rem;
      color: $button-primary-dark;
      &:after {
        content: '▼';
        position: relative;
        width: auto;
        display: inline;
        font-size: 0.8rem;
        margin-left: 0.4rem;
      }
    }
    &:checked {
      ~ div.more-info {
        display: block;
      }
      ~ label {
        &:after {
          content: '▲';
        }
      }
    }
  }
}


section.dont-know-block {
  margin-top: 1rem;
  div.indented {
    display: none;
    margin-top: 1rem;
  }

  > label {
    background: none;
    display: inline;
    padding: 0;
  }

  input.dont-know {
    display: inline;
    float: left;
    width: auto;
    margin: 0.7rem 1rem 0 1rem;
    &:checked {
      ~ label {
        border-color: rgba(255,255,255,0);
      }
      ~ div.indented {
        display: block;
      }
    }
  }
}


fieldset {
  &.survey {
    margin: 4rem 0 2rem 0;
    border-bottom: 1px dotted #d4d4d4;
    > div {
      margin: 1rem 0 2rem 0;
      @media (min-width: 750px) {
        margin: 2rem 0 4rem 0;
      }
    }
    div {
      &.flexbox {
        background: #f3f3f3;
        padding: 1.5rem 0 1rem 0;
        border-radius: 5px;
        display: flex;
        width: 100%;
        > label {
          flex: auto;
          text-align: center;
          border-radius: 0.2rem;
          text-align: center;
          > div {
            width: 2rem;
            height: 2rem;
            border: 0.2rem grey solid;
            border-radius: 100%;
            display: inline-block;
            vertical-align: middle;
          }

          /// Mid Agree/dsagree
          &:nth-of-type(2),
          &:nth-of-type(6) {
            div {
              width: 1.6rem;
              height: 1.6rem;
            }
          }

          /// Weak/neutral Agree/dsagree
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            div {
              width: 1.4rem;
              height: 1.4rem;
            }
          }

          /// Agree
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            input {
              &:checked {
                ~ div {
                  background: $base-meteorite;
                }
              }
            }
            div {
              border: 0.2rem $base-meteorite solid;
            }
          }

          /// Neutral
          &:nth-of-type(4) {
            input {
              &:checked {
                ~ div {
                  background: grey;
                }
              }
            }
          }

          /// Disagree
          &:nth-of-type(5),
          &:nth-of-type(6),
          &:nth-of-type(7) {
            input {
              &:checked {
                ~ div {
                  background: $base-oregon;
                }
              }
            }
            div {
              border: 0.2rem $base-oregon solid;
            }
          }


          span {
            display: none;
          }
          > input {
            display: none;
            width: auto;
            margin: auto;
            &:checked {
              ~ div {
                background: black;
              }
            }
          }
        }
      }

      &.form-scale {
        h3 {
          &:nth-of-type(1) {
            float: left;
          }
          &:nth-of-type(2) {
            float: right;
          }
        }
      }
    }

  }
}

label {
  font-size: 1rem;
  @media (min-width: 750px) {
    font-size: 1.4rem;
  }
}

.results-panel {
  background: rgba($offwhite-highlighted-bg,0.6);
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  canvas#myChart {
    margin: 4rem 0;
  }
  .reflection-block {
    background: $white;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    img {
    }
    p {
      font-family: "AvenirNextLTW01-Demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }

}

section.recommendations-block {
    margin: 4rem 0;
}
