---
title: What is your group's appetite for admin?
---
<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">

              <h1><%= current_page.data.title %></h1>

              <form>
                <fieldset>
                  <label style="float: left;">Not much</label>
                  <label style="float:right">Love it</label>
                  <input style="clear: both;"type="range" min=0 max=10>
                </fieldset>

                <ol>
                  <li>writing a constitution</li>
                  <li>managing member subscriptions</li>
                  <li>managing a bank account</li>
                  <li>keeping accounts</li>
                  <li>file a tax return</li>
                  <li>voting on decisions</li>
                  <li>organising an annual general meeting</li>
                  <li>preparing an annual report and sending to a regulatory body</li>
                  <li>preparing annual accounts and sending to a regulatory body</li>
                  <li>keeping a regulator up to date with changes to directors</li>
                  <li>finding a board of trustees</li>
                  <li>employing people</li>
                </ol>

                <label class="block-label">
                  <input type="checkbox" /> Don't know
                </label>
                <button class="btn-primary">Next</button>
              </form>
            </div>
          </div>
      </article>
    </main>

  </div>
</div>
