<fieldset class="survey">
  <h2>Question</h2>
  <div class="form-scale">
    <h3>Agree</h3>
    <h3>Disagree</h3>
    <div class="flexbox">
      <label>
        <span>3</span>
        <input type="radio" name="" value="-3">
      </label>
      <label>
        <span>2</span>
        <input type="radio" name="question-1" value="-2">
      </label>
      <label>
        <span>1</span>
        <input type="radio" name="question-1" value="-1">
      </label>
      <label>
        <span>0</span>
        <input type="radio" name="question-1" value="0">
      </label>
      <label>
        <span>-1</span>
        <input type="radio" name="question-1" value="1">
      </label>
      <label>
        <span>-2</span>
        <input type="radio" name="question-1" value="2">
      </label>
      <label>
        <span>-3</span>
        <input type="radio" name="question-1" value="3">
      </label>
    </div>
  </div>
<button class="btn btn-primary" type="submit">Submit</button>
</fieldset>
