<fieldset class="survey">
  <h2>How you feel about your debt situation today?</h2>
  <div class="form-scale">
    <h3>In control</h3>
    <h3>Out of control</h3>
    <div class="flexbox">
      <label>
        1
        <input type="radio" name="1" value="1" required="">
      </label>
      <label>
        2
        <input type="radio" name="2" value="2">
      </label>
      <label>
        3
        <input type="radio" name="3" value="3">
      </label>
      <label>
        4
        <input type="radio" name="4" value="4">
      </label>
      <label>
        5
        <input type="radio" name="5" value="5">
      </label>
      <label>
        6
        <input type="radio" name="entry.1760829279" value="6">
      </label>
    </div>
  </div>
<button class="btn btn-primary" type="submit">Submit</button>
</fieldset>
