---
layout: question
title: Co-op Platform
---
<h1>
  How does your group make decisions?
</h1>

<fieldset>
    <legend>Choose one or more:</legend>
    <label class="block-label">
        <input type="checkbox" value="1" name="Limited">Directors who are controlled by shareholders make decisions
        <img src="<%= image_path 'images/limited.png' %>" alt="LTD">
    </label>
    <label class="block-label">
        <input type="checkbox" value="1" name="CommunityInterest">Directors acting for the community make decisions
        <img src="<%= image_path 'images/community-interest.png' %>" alt="CIC">
    </label>
    <label class="block-label">
        <input type="checkbox" value="1" name="Co-operative">A council appointed by members make decisions
        <img src="<%= image_path 'images/co-op.png' %>" alt="Co-op">
    </label>
    <label class="block-label">
        <input type="checkbox" value="1" name="Unassociated">A collective of individuals make decisions together
        <img src="<%= image_path 'images/unassociated.png' %>" alt="Unassociated">
    </label>
</fieldset>
