---
title: Co-op Communities - Assemble
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
            <!-- YOUR CONTENT STARTS HERE -->

              <h1>
                How it works
              </h1>

              <ul>
                <li>You’ll answer six questions about your community group</li>
                <li>You can leave and come back at any time</li>
                <li>You’ll get a discussion guide for your next meeting to help you decide what type of group you should be</li>
              </ul>

              <p>
                <a href="why" class="btn btn-primary">Next</a>
              </p>

              <p>
                <a href="#" class="btn">Save and come back later</a>
              </p>
            </div>
          </div>
      </article>
    </main>

  </div>
</div>
