---
title: Co-op Communities - Assemble
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
            <!-- YOUR CONTENT STARTS HERE -->

              <h1>
                Google
              </h1>
              <p><input class="text" /></p>

              <p><a href="proposition" class="btn btn-primary">Seach</a></p>
              <h1>
                Pages
              </h1>
              <ul>
                <% sitemap.resources.each do |page| %>
                  <% if page.url =~ /\/$/ %>
                    <li><a href="<%= "#{page.url}" %>"><%= "#{page.url}" %></a></li>
                  <% end %>
                <% end %>
              </ul>

            </div>
          </div>
      </article>
    </main>

  </div>
</div>
