---
layout: question
title: Where will the money come from?
---

<h1><%= current_page.data.title %></h1>

<fieldset>
  <label class="block-label">
    <input type="checkbox" /> member subscriptions
  </label>
  <label class="block-label">
    <input type="checkbox" /> donations
  </label>
  <label class="block-label">
    <input type="checkbox" /> being paid for a product or service
  </label>
</fieldset>
