---
title: Co-op Communities - Assemble
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
            <!-- YOUR CONTENT STARTS HERE -->

              <h1>
                What you know about your group
              </h1>

              <ul>
                <li>
                  Your group is mostly made up of volunteers.
                </li>

                <li>
                  Your group has a few organisers.
                </li>

                <li>
                  Your group should be run by directors acting for the community.
                </li>

                <li>
                  Your group is OK with some admin and financial tasks.
                </li>
              </ul>

              <h2>
                Things for your group to talk about
              </h2>

              <ul>
                <li>
                  Why do you want to make your group official? What are the problems you’re trying to fix? What will you gain, and what will you lose?
                </li>

                <li>
                  Who’s involved in your group’s activities and what is their role? Is there the right mix of people who get paid and people who volunteer? Are there enough decision makers?
                </li>

                <li>
                  What’s the right structure for your group? Are you happy for a small group of people to be in charge or do you want control to be spread more evenly throughout the group?
                </li>

                <li>
                  How much of a time commitment can your group make to carrying out admin and financial tasks? Do you have the right skills and experience in your group to manage an account and prepare reports?
                </li>

                <li>
                  How do you want your group to be funded? Has anything changed that means you need more money?
                </li>

                <li>
                  Your group should have a set of rules or a constitution, even if you decide not to become a charity or a nonprofit. It’s helpful to have an agreed set of rules in case something does go wrong.
                </li>
              </ul>

              <button>Next</button>

              <button>Print this page</button>

              <button>Get a copy by email</button>



            </div>
          </div>
      </article>
    </main>

  </div>
</div>
