---
title: Co-op Communities - Assemble
---

<h1>
  Assemble
</h1>

<h2>
  Your group is growing, and you’re seeing your dreams become reality.
</h2>

<p>
  Assemble will help you learn about your group, explore what your goals are, and suggest more formal legal structures that might help you to achieve them.
</p>

<p>
  <a href="/questions" class="btn btn-primary">Get started</a>
</p>
