---
title: Co-op Communities - Assemble
---

<h1>
  Assemble
</h1>

<h2>
  Your group is growing, and you’re seeing your dreams become reality
</h2>

  <img src="<%= image_path '/images/control-icon.svg' %>" alt="Control">
  <img src="<%= image_path '/images/growth-icon.svg' %>" alt="Growth">
  <img src="<%= image_path '/images/money-icon.svg' %>" alt="Money">
  <img src="<%= image_path '/images/democracy-icon.svg' %>" alt="Democracy">

<p>
  Assemble will help you learn about your group, explore what your goals are, and suggest more formal legal structures that might help you to achieve them.
</p>

<p>
  <a href="/questions" class="btn btn-primary">Get started</a>
</p>
