---
title: Co-op Communities - Assemble
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
            <!-- YOUR CONTENT STARTS HERE -->

              <h1>
                Your community group is growing, and you’re seeing your dreams become reality. Find out what’s best for your group in the future.
              </h1>

              <p class="lead">
                Running a community group takes ideas, heart and dedication. It also takes time, and probably money. When you’re making the world a better place in your spare time, there will come a point where there just aren’t enough hours in the day to do all the things you want to do.
              </p>

              <p>
                Becoming a charity, social enterprise or nonprofit means you could get funding to have more paid time for the great work you do in your community.
              </p>

              <p>
                But there are lots of different legal structures available to community groups, and finding the right approach for your group can be daunting.
              </p>

              <p>
                Thinking about getting a more official status for your group? This guide will help you decide for yourself what is the best direction to take your group in.
              </p>

              <p>
                <a href="how" class="btn btn-primary">Get started</a>
              </p>
            </div>
          </div>
      </article>
    </main>

  </div>
</div>
