---
title: Co-op Communities - Assemble
---

<h1>
  Assemble
</h1>

<h2>
  Your group is growing, and you’re seeing your dreams become reality
</h2>

<div class="proposition-decoration">
  <img src="<%= image_path '/images/control-icon.svg' %>" alt="Control">
  <img src="<%= image_path '/images/growth-icon.svg' %>" alt="Growth">
  <img src="<%= image_path '/images/money-icon.svg' %>" alt="Money">
  <img src="<%= image_path '/images/democracy-icon.svg' %>" alt="Democracy">
</div>

<p>
  Assemble helps you learn about your community group. Explore  your group's goals, and see which legal structures might help you to achieve them.
</p>

<p>
  You'll be asked a number of questions about you and your group. It's important to answer the questions as yourself, and not on behalf of your group. When you're done, you can share Assemble with others in your group and compare results. It will take around 20 minutes to complete.
</p>

<p>
  When you answer the questions, think about where you'd like your group to be in the future - not how it is set up now.
</p>

<h2>
  Self-help and solidarity
</h2>

<p>
  At Co-op, we know people can do great things when they work together. However, getting an idea off the ground isn't easy, and keeping it going into the future is even harder.
</p>

<p>
  When there's work do be done right here, right now, planning for the future seems like less of a priority.
</p>

<p>
  We've built this simple tool to help you and the people with you reflect on your dreams and think about how best to make them real.
</p>


<p>
  <form>
    <label for="group-name">What is your group's name?</label>
    <p><input class="group-name" type="text" name="group-name" id="group-name"></p>
  </form>
  <a id="get-started" class="btn btn-primary">Get started</a>
</p>
