---
title: Does your group have a set of rules?
---
<h1><%= current_page.data.title %></h1>

<form>
  <fieldset>
    <label class="block-label">
      <input type="radio" /> Yes
    </label>
    <label class="block-label">
      <input type="radio" /> No
    </label>
    <label class="block-label">
      <input type="checkbox" /> Don't know
    </label>
  </fieldset>
  <button class="btn-primary">Next</button>
</form>
