---
title: Co-op Communities - Assemble
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
            <!-- YOUR CONTENT STARTS HERE -->


            <section>
              <h1>Based on what you’ve said, you could consider</h1>

              <h2>Co-operative society</h2>
              <p>an autonomous association of persons united voluntarily to meet their common economic, social, and cultural needs and aspirations through a jointly-owned and democratically-controlled enterprise</p>

              <input id="more-co-operative-society" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-co-operative-society">Find out more</label>
              <div class="more-info">
                <p>paid/vol</p>
                <p>Can employ people</p>
                <p>organiser/helper</p>
                <p>???</p>
                <p>funding</p>
                useful structures if you need to fund your organisation by selling shares to members.
                <p>structure</p>
                <p>A Cooperative Society might be a suitable structure if your organisation plans to provide goods or services to its own members (e.g. a food co-op).</p>
                <p>commitment</p>
                <p>???</p>
                <p>rules</p>
                <p>Cooperative Societies must be based on the co-operative values of self-help, self-responsibility, democracy, equality, equity, and solidarity.</p>
              </div>

              <h2>Community benefit society</h2>
              <p>...</p>

              <input id="more-community-benefit-society" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-community-benefit-society">Find out more</label>
              <div class="more-info">
                <p>paid/vol</p>
                <p>Can employ people</p>
                <p>organiser/helper</p>
                <p>???</p>
                <p>funding</p>
                <p>useful structures if you need to fund your organisation by selling shares to members.</p>
                You can fund your organisation by selling “Community Shares”, and run the service to benefit the wider community.
                <p>structure</p>
                <p>A Community Benefit Society is owned by its members.  Members hold shares and control the society democratically, on a one-member one-vote basis.</p>
                <p>commitment</p>
                <p>rules</p>
              </div>

            </section>

            <section>
              <h1>
                These legal structures might be less suitable for your group
              </h1>

              <h2>Unincorporated associations</h2>
              <p>An unincorporated association is made up of at least two or more members with an agreed set of rules (a ‘constitution’).</p>

              <input id="more-unincorporated-association" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-unincorporated-association">Find out more</label>
              <div class="more-info">

                <p>Unincorporated associations can’t employ anyone (they’d have to be employed by a member acting on behalf of the group).</p>

                <p>These groups are often member organisations, where a few people make decisions on behalf of the wider group.</p>

                <p>Unincorporated associations are often funded through member subscriptions. Not having charity status may make it harder to apply for grant funding.</p>

                <p>If you don’t have a charitable aim and you don’t get any grant funding, you won’t need to submit accounts or reports to anyone outside your group.</p>

                <p>You are free to draw up your own democratic constitution setting out the rules under which your group will be run</p>
              </div>

              <h2>Charitable unincorporated association</h2>
              <p>A charitable unincorporated association is is made up of at least two or more members with an agreed set of rules (a ‘constitution’) and a ‘charitable aim’ - a purpose that meets one of the Charity Commission's 13 charitable purposes.</p>

              <input id="more-cio" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-cio">Find out more</label>
              <div class="more-info">

                <p>Unincorporated associations can’t employ anyone (they’d have to be employed by a member acting on behalf of the group).</p>


                <p>These groups are often member organisations, where a few people make decisions on behalf of the wider group.</p>

                <p>Unincorporated associations are often funded through member subscriptions. Having charitable status will help you apply for grant funding.</p>

                <p>However, having a charitable status can increase your admin load. If your yearly income is over £5000, you will have to register with the Charity Commission and submit accounts and a report to them each year. If your income is under £25,000 these reports are straightforward, and don’t need an independent person to check them.</p>

              </div>


              <h2>Charitable Incorporated Organisation (CIO)</h2>
              <p>A charitable incorporated organisation is a charity with a legal status which means that it is more than just a collection of individuals - it can employ people or own assets like property.</p>

              <input id="more-cio" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-cio">Find out more</label>
              <div class="more-info">

                <p>Charitable status means you can apply for grant funding. It may be difficult to get loans from banks because, unlike charitable companies, CIOs don’t need to keep a public record of liabilities.</p>

                <p>A CIO can be a membership organisation, with trustees who are elected from among the members, or a trust-like organisation with trustees who are appointed.</p>

                <p>A CIO has to submit accounts and trustees report to the Charity Commission every year. However, if yearly income is under £250,000, accounting do not have to be complex and simply show what money has been received and paid out.</p>
              </div>

              <h2>Charitable company limited by guarantee</h2>
              <p>A charitable company that is limited by guarantee means that the members of the company act as guarantors.</p>

              <input id="more-charitable-company-guarantee" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-charitable-company-guarantee">Find out more</label>
              <div class="more-info">
                <p>To be eligible for charitable status this type of company cannot distribute its profits to its members.</p>

                <p>A company can employ people. Having charitable status will help you apply for grant funding.</p>

                <p>A company is a membership organisation. Members are named and listed in the Company Register.</p>

                Starting this type of company means you must register with, and submit annual reports and accounts to, Companies House and the Charity Commission. There’s a fee to register a company with Companies House and submit accounts and report, and fines if these are late.

                <p>All charitable companies have to keep accruals accounts, regardless of their size. These are more complex than the ‘receipts and payments’ accounts required for smaller CIOs and charities, and can therefore lead to higher costs for bookkeeping and accountancy fees.</p>
                <p>rules</p>
                <p>To be classified as “charitable”, a company must demonstrate, through its Memorandum & Articles of Association (its governing document), that it has charitable aims and that its work is for public benefit.</p>
              </div>

              <h2>Charitable company limited by shares</h2>

              <p>description:</p>

              <p>Has shareholders with limited liability and its shares may not be offered to the general public. Shareholders of private companies limited by shares are often bound to offer the shares to their fellow shareholders prior to selling them to a third party</p>
              <input id="more-charitable-company-shares" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-charitable-company-shares">Find out more</label>
              <div class="more-info">
                paid/vol - organiser/helper
                company can employ people
                funding
                charitable companies can apply for grant funding
                structure
                <p>A company is a membership organisation. However, unlike an unincorporated association, members must be named and a list of members forms part of the Company Register.</p>

                <p>members (shareholders) are investing money in the hope of gaining a profit.</p>

                <p>commitment</p>

                <p>involves registering with both Companies House and the Charity Commission, and then submitting your annual report and accounts to both bodies annually. You have to notify them of every change of directors/trustees and submit annual accounts and reports to both bodies.</p>

                <p>You have to pay Companies House to register a company. They also charge a small fee for submission of annual accounts and reports, and impose fines if they are submitted late.</p>

                <p>All charitable companies have to keep accruals accounts, regardless of their size. These are more complex than the ‘receipts and payments’ accounts required for smaller CIOs and charities, and can therefore lead to higher costs for book keeping and accountancy fees.</p>

                <p>rules</p>
                <p>To be classified as “charitable”, a company must demonstrate, through its Memorandum & Articles of Association (its governing document), that it has charitable aims and that its work is for public benefit.</p>
              </div>


              <h2>Limited company (including community interest company)</h2>
              <p>designed for social enterprises that want to use their profits and assets for the public good intended to be easy to set up, with all the flexibility and certainty of the company form, but with some special features to ensure they are working for the benefit of the community a business with primarily social objectives whose surpluses are principally reinvested for that purpose in the business or in the community Must be a limited company, cannot be a charity, an IPS or an unincorporated organisation CICs are more lightly regulated than charities but do not have the benefit of charitable status, even if their objects are entirely charitable in nature.</p>
              <input id="more-limited-company" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-limited-company">Find out more</label>
              <div class="more-info">
                <p>paid/vol</p>
                <p>can employ people</p>
                <p>Like other limited companies, the directors of a CIC may be paid. Bear in mind that some funders choose not to fund organisations with paid directors.</p>
                <p>organiser/helper</p>
                <p>???</p>
                <p>funding</p>
                <p>A company can be Limited by Guarantee or Limited by Share Capital. Being Limited by Share Capital allows profits to be distributed to share holders, so companies limited by share capital are unlikely to be not-for-profit organisations. Companies limited by guarantee can be not-for-profit, but if the directors are paid it can make it difficult to get grant funding.</p>
                <p>structure</p>
                <p>???</p>
                <p>commitment</p>
                <p>To register a new CIC, you have to apply to Companies House to register a company, and include with your application form CIC36, which you will use to describe how your company will benefit the community. You can also apply for CIC status for an existing limited company (including charitable limited company), but your organisation cannot be simultaneously a registered charity and a CIC.</p>
                <p>rules</p>
                <p>???</p>
              </div>

            </section>





              <button>Print this page</button>

              <button>Get a copy by email</button>



            </div>
          </div>
      </article>
    </main>

  </div>
</div>
