---
title: Co-op Platform
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
            <!-- YOUR CONTENT STARTS HERE -->

              <h1>
                How many people does it take to make your community group happen?
              </h1>

              <div class="margin-bq">
                <h2>How many people are paid and how many volunteer?</h2>
                <label for="#">Paid staff <span style="float:right">Volunteers</span></label>
                <input type="range" min="-10" max="10">
              </div>

              <div class="margin-bq">
                <h2>How many people are organisers and how many are helpers?</h2>
                <label for="#">Not much <span style="float:right">Love it</span></label>
                <input type="range" min="-10" max="10">

              </div>

              <label class="block-label">
                <input type="checkbox" value="1" name="dont_know">I don't know
              </label>

              <div class="margin-bq">
                <a href="how-group-makes-decisions" class="btn btn-primary">Next</a>
              </div>

              <a href="#" class="">Save and come back later</a>
            </div>
          </div>
      </article>
    </main>

  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
