---
title: Co-op Platform
---

<h1>
  How many people does it take to make your community group happen?
</h1>

<div class="margin-bq">
  <h2>How many people are paid and how many volunteer?</h2>
  <label for="#">Paid staff <span style="float:right">Volunteers</span></label>
  <input type="range" min="-10" max="10">
</div>

<div class="margin-bq">
  <h2>How many people are organisers and how many are helpers?</h2>
  <label for="#">Not much <span style="float:right">Love it</span></label>
  <input type="range" min="-10" max="10">

</div>

<label class="block-label">
  <input type="checkbox" value="1" name="dont_know">I don't know
</label>

<div class="margin-bq">
  <a href="how-group-makes-decisions" class="btn btn-primary">Next</a>
</div>

<a href="#" class="">Save and come back later</a>
