---
title: Co-op Platform
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
            <!-- YOUR CONTENT STARTS HERE -->

              <h1>
                Why do you want to make your group official?
              </h1>

              <p>
                Perhaps there’s problem that you’re hoping to solve. Or do you have another reason for getting an official status for your community group?
              </p>

              <div class="margin-bq">
                <textarea name="name" rows="8" cols="20"></textarea>
              </div>

              <label class="block-label">
                <input type="checkbox" value="1" name="dont_know">I don't know
              </label>

              <div class="margin-bq">
                <a href="who-involved" class="btn btn-primary">Next</a>
              </div>

              <a href="#" class="">Save and come back later</a>
            </div>
          </div>
      </article>
    </main>

  </div>
</div>
