---
layout: question
title: Co-op Platform
---

<h1>
  Why do you want to make your group official?
</h1>

<p>
  Perhaps there’s problem that you’re hoping to solve. Or do you have another reason for getting an official status for your community group?
</p>

<div class="margin-bq">
  <textarea name="name" rows="8" cols="20"></textarea>
</div>
